// importing partials from `sass_dir` (defaults to `sass`)
@import
        "./partials/variables",
        "./partials/normalize",
        "./partials/typography",
        "./partials/colors",
        "./partials/layouts",
        "./partials/dropdown"
;
// importing base from breakpoints
@import "./breakpoints/base";

nav{
  background-color: rgba(0,0,0,.2);
  height: 100px; 
  padding-top: 0px;
  line-height: 6em;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  .nav-container{
    width: 80%;
    margin: 0 auto;
    .float-left{
        float: left;
        clear: both;
        display: inherit;
    }
    a{
      font-size: .85em;
      font-weight: 200;
      color: rgba(255,255,255,1);
      text-transform: uppercase;
      margin-left: 30px;
    }
    a:nth-child(1){
      margin: 0;
      .logo-svg-location{
        margin-bottom: -7px;
      }
    }
  }
}

html, body{
  margin: 0;
  color: #fff;
}

h1,h2,h3,h4{
  margin: 0;
}

.page {
  float: left;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.page-wrapper {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
          scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100% 0%;
      -ms-scroll-snap-destination: 100% 0%;
          scroll-snap-destination: 100% 0%;
}

.one {
  background: url(/images/sc_and_fm.jpg) center center no-repeat;
  background-size: cover;
}

.two {
  background-size: cover;
  .sushi-boat-bg{
    background: url(/images/sushi_boat.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .halal-bg{
    background: url(/images/halal-bg-orange.jpg) center center no-repeat;
    background-size: cover;
  }
  .lobster-bg-mustard-bg{
    background: url(/images/lobster-bg-mustard.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
  }
}

.three {
  background: url(/images/figures.jpg) center center no-repeat;
  background-size: cover;
}


//Media Queries from breakpoints

@media only screen and (min-width:$sGenji-min) and (max-width:$sGenji-max){
  @import "./breakpoints/sGenji";
}// End of sGenji query

@media only screen and (min-width:$mGenji-min) and (max-width:$mGenji-max){
  @import "./breakpoints/mGenji";
}// End of mGenji query

@media only screen and (min-width:$lGenji-min) and (max-width:$lGenji-max){
  @import "./breakpoints/lGenji";
}// End of lGenji query

@media only screen and (min-width:$xLGenji-min) and (max-width:$xLGenji-max){
  @import "./breakpoints/xLGenji";
  html{
  }
}// End of xLGenji query

@media only screen and (min-width:$kingGenji){
  @import "./breakpoints/kingGenji";
}// End of kingGenji query

@media print {
  @import "./partials/print";
}
