<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} - Genji Novi</title>

  <!-- Typekit Font-->
  <script src="https://use.typekit.net/vlx3dns.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script rel="text/javascript" src="/js/main.js"></script>

</head>
<body>
  <!-- Error Messages -->
  {{#if message.error}}
  <div class="message error">
    {{message.error}}(X)
  </div>
  {{/if}}
  <!-- Success messages -->
  {{#if message.success}}
  <div class="message success">
    {{message.success}}(X)
  </div>
  {{/if}}

<div class="docScroller">
  <header>
    <nav>
      <div class="nav-container">
        <div class="float-left">
          <a href="/">
            <img class="logo-svg-location" src="/svg/genji-logo.svg" alt="Genji">
          </a>
        </div>
        <a href="/story">Our Story</a>
        <a href="/menus">Menus</a> 
        <a href="/restaurant">Restaurant</a>
        <a href="/contact">Contact Us</a>
        <a href="" class="float-right">fb</a>
        <a href="" class="float-right">ig</a>
        <a href="" class="float-right">Book a table</a>
      </div>
    </nav>

    <div class="hamburger-nav">
      <ul>
        <li class="dropdown">
          <input type="checkbox" />
          <div class="section group">
            <div class="col span_1_of_3">
              <a href="#" data-toggle="dropdown">Menu</a>
            </div>
            <div class="col span_1_of_3">
              <a href="/"><img class="logo-svg-location-dropdown" src="/svg/genji-logo.svg" alt="Genji"></a>
            </div>
          </div>
          
          <ul class="dropdown-menu">
            <li><a href="/story">Our Story</a></li>
            <li><a href="/menus">Menus</a></li>
            <li><a href="/restaurant">Restaurant</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </li>        
      </ul>
    </div>
  </header>

    {{{body}}}
</div>

  <footer></footer>

  <!-- Misc -->
  <script type="text/javascript">
  // Flash messages
  if (document.getElementsByClassName('message')) {
    var messages = document.getElementsByClassName('message');
    for (var i = 0; i < messages.length; i++) {
      messages[i].addEventListener('click',function() {
        this.style.display = "none";
      });
    }
  }
  </script>
  </body>
  </html>
