<header>
	<nav>
		<ul>
			<li><a href="/landing">Genji</a></li>
			<li><a href="/story">Our Story</a></li>
			<li><a href="/menus">Menus</a></li>
			<li><a href="/restaurant">Restaurant</a></li>
			<li><a href="/contact">Contact Us</a></li>
			<li><a href="">Book a table</a></li>
			<li><a href="">fb</a></li>
			<li><a href="">ig</a></li>
		</ul>
	</nav>

	<div>
		Contact Us
	</div>

</header>

