<!-- Browse -->
<div class="page one">
	<div class="feature-content-wrapper">
		<h1 class="text-align-center">Bringing you the perfect blend of</h1>
		<h1 class="text-align-center">Japanese Sushi and Hibachi</h1>
		<button class="transparent-white">Browse Menu</button>
	</div>
</div>
<!-- Feature one -->
<div class="page two">
	<div class="inside">
		<div class="section group">
			<div class="col span_1_of_2 sushi-boat-bg">
				<div class="margin-top-150 margin-left-20-perc">
					<div class="rectangle"></div>
					<h2>Where</h2> 
					<h2>ambience</h2> 
					<h2>meets</h2> 
					<h2>cuisine</h2>
				</div>
			</div>
			<div class="col span_1_of_2 full-height">
				<div class="height-49 halal-bg">
					<div class="section group">
						<div class="margin-left-50 padding-top-150">
							<h3>Yes, we have Halal options!</h3>
							<p>We are the only Japanese Steakhouse in Novi that serves Halal!</p>
							<p>We take pride knowing that everyone can try our Teppanyaki.</p> 
							<button class="transparent-orange margin-top-30">Curious about what Halal is?</button>
						</div>
					</div>
				</div>
				<div class="half-height">
					<div class="section group">
						<div class="col span_1_of_2 lobster-bg-mustard-bg half-height">
							<div class="centerize">
								<button class="transparent-mustard margin-top-30">See Our Hibachi Menu</button>
							</div>
						</div>
						<div class="col span_1_of_2">
							<div class="section group">
								<div class="col span_2_of_2 no-margin">
									<div class="quarter-height blueberry-mule-bg position-relative">
										<p class="bottom-text">Blue Berry Mule</p>
									</div>
								</div>
							</div>
							<div class="section group">
								<div class="col span_2_of_2 no-margin">
									<div class="quarter-height singapore-sling-bg position-relative">
										<p class="bottom-text">Singapore Sling</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Bottom Feature -->
	<div class="page three">
		<div class="section group margin-top-1pct">
			<div class="col span_4_of_10 interior-bg half-height">
				<div class="transparent-sienna width-70-center half-height">
					<div class="section group display-block">
						<div class="vertically-center-element">
						<h3 class="big-h3 margin-top-30">Reservation</h3>
						<p class="margin-top-30">Call us (248) 380-6881</p>
						<p>or you can book a table online.</p>
						<button class="transparent-white margin-top-30">book online</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col span_6_of_10 wine-bg half-height padding-top-150">
				<div class="transparent-sienna padding-top-bottom">
					<div class="width-90-center">
						<div class="section group">
							<div class="col span_3_of_3">
								<h3>Opening Hours</h3>
							</div>
						</div>
						
						<div class="section group">
							<div class="col span_1_of_3">
								<h4>Hours</h4>
								<div class="section group">
									<div class="col span_1_of_2">
									<p>Monday-Friday</p> 
									<p>Saturday</p>
									<p>Sunday</p> 
									</div>
									<div class="col span_1_of_2">
									<p>4:30 pm - 10:00 pm</p>
						            <p>4:30 pm - 11:00 pm</p>
						            <p>3:30 pm - 9:00 pm</p>
						            </div>
						        </div>
							</div>
							<div class="col span_1_of_3">
								<h4>Early Bird Hours</h4>
								<div class="section group">
									<div class="col span_1_of_2">
									<p>Everyday</p>
									</div>
									<div class="col span_1_of_2">
									<p>Open - 6:00 pm</p>
									</div>
								</div>
							</div>

							<div class="col span_1_of_3">
								<h4>Happy Hour - Bar Only</h4>
								<div class="section group">
									<div class="col span_1_of_2">
									<p>Monday - Thursday</p>
									</div>
									<div class="col span_1_of_2">
									<p>Starting at 8:00pm</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section group">
			<div class="half-height">
				<div class="col span_2_of_3 no-margin map-bg">
					<div class="width-90-center">
						<div class="height-5vh">
							<p></p>
						</div>	
						<div class="height-5vh">
							<h3 class="grey-color no-margin">Location</h3>
							<p class="grey-color no-margin">27155 Karevich Dr, Novi, MI 48377</p>
						</div>	
						<div id="map" class="margin-bottom" style="width:100%; height: 40vh"></div>
					</div>
						
				</div>
				<div class="col span_1_of_3 no-margin-top-right">
					<div class="section group">
						<div class="col span_2_of_2 no-margin-top">
							<div class="quarter-height mustard-bg">
								<div class="width-70-center display-block">
									<div class="vertically-center-element">
										<h3 class="medium-h3">follow us</h3>
										<div class="section group">

										<svg id="facebook-icon" class="margin-right" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 62"><title>sns-icon</title><path class="facebook-icon" d="M58,0H3.19C1.31,0,0,2,0,3.9V58.7A3.14,3.14,0,0,0,3.19,62H33V38H25V29h8V22.09c0-8,4.79-12.29,11.89-12.29a67.12,67.12,0,0,1,7.11.37v8.31H46.84C43,18.49,42,20.32,42,23v6h9.49l-1.2,9H42V62H58a3,3,0,0,0,3-3.3V3.9C61,2,59.86,0,58,0Z"/></svg>

										<svg id="instagram-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 62"><defs></defs><title>sns-icon</title><path class="instagram-icon" d="M61.84,19.23a23.56,23.56,0,0,0-1.64-8.52A15.73,15.73,0,0,0,49,1.36a33.22,33.22,0,0,0-7.08-1C41.69.34,41.5,0,41.3,0H21c-.64,0-1.28.36-1.92.39a23.67,23.67,0,0,0-8.52,1.76A15.82,15.82,0,0,0,1.22,13.43a33.39,33.39,0,0,0-.94,7.11c0,.19-.28.42-.28.61V41.44c0,.64.29,1.28.32,1.92A23.63,23.63,0,0,0,2,51.88a15.79,15.79,0,0,0,11.27,9.36,33,33,0,0,0,7.1.71c.19,0,.41,0,.6,0H41.3c.64,0,1.28-.06,1.92-.09a23.53,23.53,0,0,0,8.52-1.61A15.7,15.7,0,0,0,61.1,49.09,32.85,32.85,0,0,0,61.88,42c0-.19.12-.38.12-.57V21.15C62,20.51,61.87,19.88,61.84,19.23ZM56.19,43.6a20.63,20.63,0,0,1-.65,4.53,10.08,10.08,0,0,1-8.71,7.78,61.71,61.71,0,0,1-8,.55c-3.6.09-7.21.1-10.81.06s-7.25-.09-10.86-.31A11.27,11.27,0,0,1,9,52.45a10.94,10.94,0,0,1-2.6-6.21C6.13,43.84,6,41.42,6,39q-.11-5.4,0-10.81c0-3.62.1-7.25.32-10.86A11.28,11.28,0,0,1,10,9.11a10.94,10.94,0,0,1,6.21-2.6c2.4-.25,4.83-.35,7.25-.4q5.4-.11,10.81,0c3.62,0,7.25.1,10.86.32a11.28,11.28,0,0,1,8.22,3.75,10.94,10.94,0,0,1,2.6,6.21c.25,2.41.34,4.68.4,7.1s0,4.55,0,7.55h.09C56.37,35,56.34,39.45,56.19,43.6Z"/><path class="instagram-icon" d="M31.2,15.47A15.83,15.83,0,1,0,47,31.31,15.82,15.82,0,0,0,31.2,15.47Zm-.05,26.07A10.25,10.25,0,1,1,41.41,31.41,10.26,10.26,0,0,1,31.15,41.54Z"/><path class="instagram-icon" d="M47.57,11.15a3.72,3.72,0,1,0,3.74,3.7A3.72,3.72,0,0,0,47.57,11.15Z"/></svg>
											
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section group">
						<div class="col span_2_of_2">
							<div class="quarter-height orange-bg position-relative">
								<div class="width-70-center display-block">
									<div class="vertically-center-element">
										<h3 class="medium-h3">We would love to see you!</h3>
										<p>Copyright © 2016 Pi Distribution Incorporated. All rights reserved.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>












