<div class="home-page-wrapper">
	<div class="browser-wrapper">
		<h1>Bringing you the perfect blend of Japanese Sushi and Hibachi</h1>
		<button class="large-btn">Browse Menu</button>
	</div>
	<div class="feature-wrapper-one">
		<h1>Where ambience meets cuisine</h1>
	</div>
	<div class="feature-wrapper-two">
		<h1>Reservation</h1>
	</div>
</div>