<!-- Browse -->
<div class="page one">
	<div class="feature-content-wrapper">
		<h1 class="text-align-center">Bringing you the perfect blend of</h1>
		<h1 class="text-align-center">Japanese Sushi and Hibachi</h1>
		<button>Browse Menu</button>
	</div>
</div>
<!-- Feature one -->
<div class="page two">
	<div class="inside">
		<div class="section group">
			<div class="col span_1_of_2 sushi-boat-bg">
				<div class="two-wrapper">
					<div class="rectangle"></div>
					<h2>Where</h2> 
					<h2>ambience</h2> 
					<h2>meets</h2> 
					<h2>cuisine</h2>
				</div>
			</div>
			<div class="col span_1_of_2">
				<div class="half-height halal-bg">
					<h3>Yes, we have Halal options!</h3>
					<p>We are the only Japanese Steakhouse in Novi that serves Halal! We take pride knowing that everyone can try our Teppanyaki.</p> 
				</div>
				<div class="half-height halal-bg">
					<div class="col span_1_of_2 lobster-bg-mustard-bg">
						<button>See Our Hibachi Menu</button>
					</div>
					<div class="col span_1_of_2">
						<div class="half-height">Blue Berry Mule</div>
						<div class="half-height">Singapore Sling</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Bottom Feature -->
<div class="page three">
	<div class="inside"></div>
</div>




