<!-- Browse -->
<div class="page one">
	<div class="inside">
		<h2>Bringing you the perfect blend of Japanese Sushi and Hibachi</h2>
		<button>Browse Menu</button>
	</div>
</div>
<!-- Feature one -->
<div class="page two">
	<div class="inside">
		<div class="section group">
			<div class="col span_1_of_2 sushi-boat-bg">
			<h1>Where ambience meets cuisine</h1>
			</div>
			<div class="col span_1_of_2">
				<div class="half-height halal-bg">
					<h3>Yes, we have Halal options!</h3>
					<p>We are the only Japanese Steakhouse in Novi that serves Halal! We take pride knowing that everyone can try our Teppanyaki.</p> 
				</div>
				<div class="half-height halal-bg">
					<div class="col span_1_of_2 lobster-bg-mustard-bg">
						<button>See Our Hibachi Menu</button>
					</div>
					<div class="col span_1_of_2">
						<div class="half-height">Blue Berry Mule</div>
						<div class="half-height">Singapore Sling</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Bottom Feature -->
<div class="page three">
	<div class="inside"></div>
</div>




