<!-- Browse -->
<div class="page one">
	<div class="feature-content-wrapper">
		<h1 class="text-align-center">Bringing you the perfect blend of</h1>
		<h1 class="text-align-center">Japanese Sushi and Hibachi</h1>
		<button class="transparent-white">Browse Menu</button>
	</div>
</div>
<!-- Feature one -->
<div class="page two">
	<div class="inside">
		<div class="section group">
			<div class="col span_1_of_2 sushi-boat-bg">
				<div class="margin-top-150 margin-left-20-perc">
					<div class="rectangle"></div>
					<h2>Where</h2> 
					<h2>ambience</h2> 
					<h2>meets</h2> 
					<h2>cuisine</h2>
				</div>
			</div>
			<div class="col span_1_of_2">
				<div class="half-height halal-bg">
					<div class="section group">
						<div class="margin-left-50 padding-top-150">
							<h3>Yes, we have Halal options!</h3>
							<p>We are the only Japanese Steakhouse in Novi that serves Halal!</p>
							<p>We take pride knowing that everyone can try our Teppanyaki.</p> 
							<button class="transparent-orange margin-top-30">Curious about what Halal is?</button>
						</div>
					</div>
				</div>
				<div class="section group">
					<div class="half-height">
						<div class="col span_1_of_2 lobster-bg-mustard-bg">
							<div class="centerize">
								<button class="transparent-mustard margin-top-30">See Our Hibachi Menu</button>
							</div>
						</div>
						<div class="col span_1_of_2">
							<div class="quarter-height blueberry-mule-bg position-relative">
								<p class="bottom-text">Blue Berry Mule</p>
							</div>
							<div class="quarter-height singapore-sling-bg position-relative">
								<p class="bottom-text">Singapore Sling</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Bottom Feature -->
<div class="page three">
	<div class="half-height">
		<div class="section group">
			<div class="col span_1_of_2">Reservation</div>
			<div class="col span_1_of_2">Opening Hours</div>
		</div>
	</div>
	<div class="half-height">
		<div class="section group">
			<div class="col span_2_of_3">
				Location
			</div>
			<div class="col span_1_of_3">
				SNS
			</div>
		</div>
	</div>
</div>




