<div class="menu-nav orange-bg grey-10-color">
	<div class="width-80-center menu-nav-content">
		<a href="#">Teppanyaki Dinner</a>  &nbsp|&nbsp  <a href="#">Halal Teppanyaki</a>  &nbsp|&nbsp  <a href="#">Sushi, Sashimi &amp; Rolls</a>  &nbsp|&nbsp  <a href="#">Bar</a>  &nbsp|&nbsp  <a href="#">Appetizers &amp; Side Dishes</a>  &nbsp|&nbsp  <a href="#">Children′s Menu</a>  &nbsp|&nbsp  <a href="#">Happy Hour &amp; Early Bird</a>
	</div>
</div>