	<div class="interior-bg padding-top-230">
		<div class="width-80-center">
			<div class="section group">
				<div class="col span_2_of_2">
					<h2 class="grey-10-color">our</br>story</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="outside-bg padding-top-30 padding-bottom-90">
		<div class="width-80-center">
			<div class="section group">
				<div class="col span_1_of_2">
					<p class="more-leading bigger-font grey-color">It started with a mother and her four sons, The Pi family. Having experienced owning a restaurant for 25 years in South Korea, the Pi family decided to immigrate to the United States and give their children the American Dream. In 1992, the Pi family made their first milestone with the construction of the Pi’s Chinese Restaurant in Midland, Michigan. The Pi Chinese restaurant was immediately a success and was arguably the most popular restaurant in the tri-cities area. However, Henri Pi noticed the lack of upscale Asian restaurants along with the demand for Japanese Steakhouse, introducing the first Japanese Steakhouse and Sushi to Midland: Genji.In January 2013, in addition to the Midland area, our most modernized Genji was established in Novi, Michigan. Genji Novi offers an experience that you won’t forget.
					</p>
				</div>
				<div class="col span_1_of_2">
					 <p class="more-leading bigger-font grey-color">
					  Whether it’s our popular Blossom roll, Sashimi Cocktail, Steak Teppanyaki, or the elegant ambience filled with live music, you will leave satisfied. We believe that everyone should get a chance to try our meats and we made it possible. Our Halal option is available for anyone who have Islamic dietary restrictions. Genji Novi provides a Halal option for your Teppanyaki meat. We are proud to announce that our Teppanyaki tables are one of the most advanced and will allow you to enjoy your Hibachi meal without worrying about the smoke. The Pi’s Property Management is a three generation company made up of six restaurants across southeast Michigan and the Great Lakes Bay Region, and an international distributor division- Pi Distribution, Inc. (PDI). 
					 </p>
				</div>
			</div>
		</div>
	</div>
