<div class="menu-page-wrapper">
	<div class="menu-nav orange-bg grey-10-color">
		<div class="width-80-center menu-nav-content">
			<a href="/menus/Appetizer">Appetizer</a>  &nbsp;|&nbsp;  <a href="/menus/Teppanyaki">Teppanyaki</a>  &nbsp;|&nbsp;  <a href="/menus/HalalTeppanyaki">Halal Teppanyaki</a>  &nbsp;|&nbsp;  <a href="/menus/Sushi">Sushi</a>  &nbsp;|&nbsp;  <a href="/menus/Bar">Bar</a>  &nbsp;|&nbsp;  <a href="/menus/HappyHour">Happy Hour</a>  &nbsp;|&nbsp;  <a href="/menus/EarlyBird">Early Bird</a>
		</div>
	</div>
	<div class="menu-page-wrapper-inside">
		<h1>{{ menuCategory.categoryTitle }} dinner menu</h1>
		<p class="width-80-center">{{ menuCategory.categoryDescription }}</p>
		<div class="section group">
			<div class="col span_2_of_3">
				<img class="img-drop-shadow" src="../images/menu-item-03.png">
			</div>
			<div class="col span_1_of_3">
				<img class="img-drop-shadow" src="../images/menu-item.png">
				<img class="img-drop-shadow" src="../images/menu-item-02.png">
			</div>
		</div>
		<div class="section group">
			<div class="col span_1_of_3">
				<img class="img-drop-shadow" src="../images/menu-item.png">
			</div>
			<div class="col span_1_of_3">
				<img class="img-drop-shadow" src="../images/menu-item-02.png">
			</div>
			<div class="col span_1_of_3">
				<img class="img-drop-shadow" src="../images/menu-item-04.png">
			</div>
		</div>
	</div>
</div>



