/*------------------------------------*\
  #Stylesheet-401-750px
\*------------------------------------*/

html{
	background-color: ivory;
}

nav{
	display: none;
}

.hamburger-nav{
	display: block;
}