/*------------------------------------*\
  #Stylesheet-320px-400px
\*------------------------------------*/

nav{
	display: none;
}

.hamburger-nav{
	display: block;
	a{
		.logo-svg-location-dropdown{
			display: block;
			margin: auto;
		}
	}
}