// Variables

//COLORS
$orange:#FF6C45;
$mustard:#E5B35B;

//FONTS

$base-font-family: "azo-sans-web",sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

//Query sizes

$sGenji-min: 100px;
$sGenji-max: 400px;

$mGenji-min:401px;
$mGenji-max:750px;

$lGenji-min:751px;
$lGenji-max:1110px;

$xLGenji-min:1111px;
$xLGenji-max:1590px;

$kingGenji:1591px;
